[Unit]
  Description=RainPots Service
  After=multi-user.target
  StartLimitIntervalSec=500
  StartLimitBurst=5
  StartLimitInterval=0
  Wants=rnbooscquery.service
  After=rnbooscquery.service
  PartOf=rnbooscquery.service

[Service]
  Type=idle
  ExecStart=/usr/bin/rainpots
  KillSignal=SIGINT
  User=pi
  Group=audio
  Restart=on-failure
  RestartSec=5s
  StandardOutput=append:/home/pi/Documents/RainPots/log/rainpots.log
  StandardError=append:/home/pi/Documents/RainPots/log/rainpots-eror.log   

[Install]
  WantedBy=multi-user.target
  Alias=rainpots
